@font-face {
   font-family: '方正黄草简体';
   src: url('方正黄草简体/font.ttf');
}
@font-face {
   font-family: 'HARNGTON';
   src: url('HARNGTON/font.TTF');
}
@font-face {
   font-family: 'msyh';
   src: url('msyh/font.ttf');
}
